<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050286172659-6eev98gedsgh0thvvn6e3dnku9s53j1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050286172659-6eev98gedsgh0thvvn6e3dnku9s53j1a</string>
	<key>API_KEY</key>
	<string>AIzaSyCPmGV8i2R_rtcGwhosd9IKyeEpFfVPu2w</string>
	<key>GCM_SENDER_ID</key>
	<string>1050286172659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Haejoo.BeatMaster</string>
	<key>PROJECT_ID</key>
	<string>beatmaster-f67d1</string>
	<key>STORAGE_BUCKET</key>
	<string>beatmaster-f67d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050286172659:ios:c210d66272f6c6e20e4a86</string>
</dict>
</plist>